@import "compass/css3";
@import "compass/utilities";
@import "_mixin";


body {
  font : 300 14px/1.5 "Open Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  border: none;
}

.enme {

  .enme-doc-navbar {
    margin-bottom: 0px;
    @include border-radius(0xp);
  }

  .logo {
    max-width: 600px;
    margin: 0 auto 30px;
  }

  @include tablet-only {
    .container {
      width: auto;
    }
    .logo {
      max-width: 500px;
      margin: 35px auto 30px;
    }
  }

  @include mobile-portrait-only {
    .logo {
      max-width: 212px;
      margin: 0 auto 30px;
    }
  }

  @include mobile-only {
    .col-sm-4 {
      padding-left: 0;
      padding-right: 0;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .enme-footer-links {
      padding: 0;
    }
  }

  @include tablet-only {
    .col-sm-4 {
      padding-left: 0;
      padding-right: 0;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
  }


  .orange-bk {
    background-color: #E7A441;
    @include ctb-gradient-vertical(#E7A441, #e7d553, 100%);
  }

  @include mobile-only {
    .site-wrapper {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
  @include desktop-and-up {
    .site-wrapper {
      padding-top: 85px;
      padding-bottom: 85px;
    }
  }
  @include tablet-only {
    .site-wrapper {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }


  .site-wrapper {
    text-align: center;
    @include mobile-only {
      .docs-subtitle {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 30px;
        max-width: 750px;
        margin: 0 auto 30px;
      }
    }
    @include desktop-and-up {
      .docs-subtitle {
        margin-bottom: 30px;
        font-size: 40px;
        line-height: 60px;
        max-width: 750px;
        margin: 0 auto 30px;
      }
    }
    @include tablet-only {
      .docs-subtitle {
        font-size: 30px;

        line-height: 40px;
      }
    }
  }

  @include mobile-only {
    .main-module {
      margin: 0px;
      width: 100%;
      padding: 15px 10px;
      .white {
        color: #FFF;
      }
      text-align: center;
      > h1 {
        font-size: 25px;
        margin: 0 0 35px  0;
      }
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 14px !important;
      }
      .lead {
        font-size: 12px !important;
        margin: 0 5px !important;
      }
    }
  }
  @include tablet-only {
    .main-module {
      margin: 0px;
      width: 100%;
      padding: 15px 10px;
      text-align: center;
      > h1 {
        font-size: 25px;
        color: #FFF;
        margin: 0 0 35px  0;
      }
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 14px !important;
      }
      .lead {
        font-size: 12px !important;
        margin: 0 5px !important;
      }
    }
  }
  @include desktop-and-up {
    .main-module {
      margin: 0px;
      width: 100%;
      padding: 45px 150px;
      text-align: center;
    }
  }

  @include tablet-only {
    .docs-subtitle {
      margin-bottom: 30px;
      font-size: 40px;
      line-height: 60px;
      max-width: 750px;
      margin: 0 auto 30px;
    }
  }

  .main-module {
    > h1 {
      font-size: 25px;
      color: #FFF;
      margin: 0 0 35px  0;
    }
    img {
      margin: 0;
      display: initial;
    }

    .col-sm-4 {
      text-align: center;
    }

    p {
      font-size: 16px;
    }
  }

  .enme-footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    ul {
      li {
        display: inline;
        list-style: none;
      }
    }
  }

  .enme-article-body {
    h2,h1,h3,h4,h5 {
      font-weight: 300;
      color: #222;
    }
    p {
      margin-bottom: 1.5em;
      font-size: 18px;
      color: #555;
    }
  }

  .enme-sub-content-header {
    padding: 20px 40px;
    margin-bottom: 15px;
    color: #FFF;
    @include mobile-only {
      .page-title {
        font-size: 40px;
        margin-bottom: 5px;
      }
      .page-description {
        color: #FFF;
        font-size: 20px;
        opacity: .7;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 300;
      }
      h2,h1,h3,h4,h5 {
        font-weight: 300;
      }
      .sub-logo {
        display: none;
      }
    }
    @include mobile-landscape-only {
      .sub-logo {
        display: none;
      }
    }
    @include desktop-and-up {
      .page-title {
        font-size: 40px;
        margin-bottom: 5px;
      }
      .page-description {
        color: #FFF;
        font-size: 24px;
        opacity: .7;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 300;
      }
      h2,h1,h3,h4,h5 {
        font-weight: 300;
      }
    }

  }


  .list-group {
    padding-left: 0;
    margin-bottom: 20px
  }

  .enme-separator {
    border-color: #D69A01;
  }

  .list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
  }

  .list-group .team-member {
    font-size: 14px;
    line-height: 32px;
    color: #555
  }

  .list-group img {
    float: left;
    width: 32px;
    margin-right: 10px;
    border-radius: 4px
  }

  .list-group .team-member-info {
    overflow: hidden
  }

  .list-group .github-btn {
    float: right;
    width: 121px;
    height: 20px;
    margin-top: 6px
  }

  .docs-module {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 3px
  }

  .docs-module .btn-block {
    margin-bottom: 0
  }

  .version {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
    color: #777
  }

  .docs-section {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd
  }

  .docs-section:last-child {
    border-bottom: 0
  }


  #features {
    .carousel-caption {
      background-color: black;
      @include opacity(0.5);
      @include border-radius(10px);
    }
  }
}


