---
layout: default
title: Getting Started
lang: en
---

<div class="docs-sub-header">
    {% include header.html %}

    <div class="enme-sub-content-header orange-bk">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="page-title">
                        {% t pages.menu_getting_started %}
                    </h2>
                    <p class="page-description">
                        {% t pages.getting_started_subtitle %}
                    </p>
                </div>
                {% include sub_header.html %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>
                {% t gtt.installation_title %}
            </h2>
            <p class="lead">
                {% t gtt.installation_subtitle %}
            </p>
            <h5>
                {% t gtt.ins_option_1_title %}
            </h5>
            <p>
                {% t gtt.ins_option_1_desc %}:
            <ol>
                <li>
                    {% t gtt.inst_option_1_1 %}
                    <a href="{{ site.getting.web1 }}">
                        {% t gtt.inst_option_1_1_link %}
                    </a>
                </li>
                <li>
                    {% t gtt.inst_option_1_2 %}
                    <a href="{{ site.getting.web2 }}">
                        {% t gtt.inst_option_1_2_link %}
                    </a>
                </li>
            </ol>
            </p>
            <h5>
                {% t gtt.ins_option_2_title %}
            </h5>
            <p>
            <ol>
                <li>
                    {% t gtt.inst_option_2_1 %}
                    <a href="{{ site.getting.wizard1 }}">
                        {% t gtt.inst_option_2_1_link %}
                    </a>
                </li>
                <li>
                    {% t gtt.inst_option_2_2 %}
                    <a href="{{ site.getting.wizard2 }}">
                        {% t gtt.inst_option_2_2_link %}.
                    </a>
                </li>
            </ol>
            </p>
            <!--->
            <hr/>
            <h2>
                {% t gtt.how_title %}
            </h2>
            <p class="lead">
                {% t gtt.how_subtitle %}
            </p>
            <ol>
                <li>
                    <a href="{{ site.getting.how1 }}">
                        {% t gtt.how_option1 %}
                    </a>
                </li>

                <li>
                    <a href="{{ site.getting.how2 }}">
                        {% t gtt.how_option2 %}
                    </a>

                </li>
                <li>
                    <a href="{{ site.getting.how3 }}">
                        {% t gtt.how_option3 %}
                    </a>

                </li>
                <li>
                    <a href="{{ site.getting.how4 }}">
                        {% t gtt.how_option4 %}
                    </a>

                </li>
            </ol>


            <hr/>
            <h2>
                {% t gtt.getin_title %}
            </h2>
            <p class="lead">
                {% t gtt.getin_subtitle %}
            </p>
            <ol>
                <li>
                    <p>
                        {% t gtt.getin_op1_word1 %}
                        <a href="{{ site.blog }}" target="_blank">
                            {% t gtt.getin_op1_word2 %}
                        </a>.
                    </p>
                </li>
                <li>
                    <p>
                        {% t gtt.getin_op2_word1 %}
                        <a href="{{ site.google_groups }}">
                            {% t gtt.getin_op2_word2 %}
                        </a>.
                    </p>
                </li>
                <li>
                    <p>
                        {% t gtt.getin_op3_word1 %}
                        <a href="{{ site.youtube_channel }}">
                            {% t gtt.getin_op3_word2 %}
                        </a>.
                    </p>
                </li>
                <li>
                    <p>
                        {% t gtt.getin_op4_word1 %}
                        <a href="{{ site.wiki }}">
                            {% t gtt.getin_op4_word2 %}
                        </a>.
                    </p>
                </li>
            </ol>
        </div>
        <div class="col-md-4">
            {% include aside.html %}
        </div>
    </div>
</div>

<div class="column">
    {% include footer.html %}



</div>
</div>
