---
layout: default
title: Encuestame Open Source Survey Tool
lang: en
---

{% include header.html %}

<div class="container site-wrapper">
    <div id="home">
        <div class="logo">
            <img src="images/logo/horizontal/enuestame_horizontal_medium_alpha.png" class="img-responsive"/>
        </div>
        <p class="docs-subtitle">
            {% t pages.title %}
        </p>
        <div class="download-module" id="downloadButton">
            <a href="{{ site.download.source }}" target="_blank" class="btn btn-info btn-lg">
                {% t global.download %}
            </a>
            <a href="{{ site.demo }}" target="_blank" class="btn btn-warning btn-lg" id="demoButton">
                {% t global.demo %}
            </a>

            <p class="version">
                {% t global.currently %} {{ site.current_version }}
            </p>
        </div>
        <small>
            <b>
                <a id="installerLink"
                   href="http://encuestame.org/wiki/display/~juanpicado/2015/04/24/Encuestame+installer"
                    target="_blank">
                    {% t pages.new_installer %}
                </a>
            </b>
        </small>
    </div>
</div>
<div class="container main-module orange-bk" id="featuresSection">
    <h1 class="white">
        {% t pages.title_steps %}
    </h1>
    <div id="description">
        <div class="row">
            <div class="col-sm-4">
                <img src="images/social/twitter.png" alt="Facebook" class="img-responsive"/>
                <h2>
                    {% t pages.steps_title_1 %}
                </h2>
                <p>
                    {% t pages.steps_title_desc_1 %}
                </p>
            </div>
            <div class="col-sm-4">
                <img src="images/window.png" alt="Facebook" class="img-responsive">
                <h2>
                    {% t pages.steps_title_2 %}
                </h2>
                <p>
                    {% t pages.steps_title_desc_2 %}
                </p>
            </div>
            <div class="col-sm-4">
                <img src="images/mobile.png" alt="Facebook" class="img-responsive">
                <h2>
                    {% t pages.steps_title_3 %}
                </h2>
                <p>
                    {% t pages.steps_title_desc_3 %}
                </p>
            </div>
        </div>
        <div class="row">
            <a href="{{site.repo}}" target="_blank" class="btn btn-success btn-lg">
                {% t pages.open_source_title_btn %}
            </a>
            <div>
                <small class="version">
                    {% t global.inprogres %} <b> {{ site.in_progress }} </b>
                </small>
            </div>
            <hr class="enme-separator"/>
            <p class="lead">
                {% t pages.open_source_title %}
            </p>
        </div>
    </div>
</div>

<div class="container main-module" id="sponsorsSection">
    <h1 style="color: black;">
        Sponsors
    </h1>
    <div id="sponsors">
        <div class="row">
            <div class="col-xs-6 col-md-4" id="atlassian">
                <a href="https://www.atlassian.com/opensource/overview" target="_blank" class="thumbnail">
                    <img src="images/sponsors/atlassian/atlassian-rgb-navy-small.png" alt="Altlassian">
                </a>
                <div class="caption">
                    <h4>
                        Atlassian
                    </h4>
                    <p>
                        Atlassian Open Source License
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4" id="jetbrains">
                <a href="https://www.jetbrains.com/devnet/sponsorship/open-source/" target="_blank" class="thumbnail">
                    <img src="images/sponsors/jetbrains/logo_jetbrains.png" alt="JetBrains">
                </a>
                <div class="caption">
                    <h4>
                        JetBrains
                    </h4>
                    <p>
                        JetBrains Open Source License
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4" id="install4j">
                <a href="http://www.ej-technologies.com/buy/install4j/openSource" target="_blank" class="thumbnail">
                    <img style="margin:20px;" src="images/sponsors/install4j/install4j_medium.png" alt="install4j">
                </a>
                <div class="caption">
                    <h4>
                        ej-technologies
                    </h4>
                    <p>
                        Install4j Open Source License
                    </p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4" id="browserStack">
                <a href="https://www.browserstack.com/pricing" target="_blank" class="thumbnail">
                    <img style="margin:20px;" src="images/sponsors/browserstack/browserstack.jpg" alt="browserstack">
                </a>
                <div class="caption">
                    <h4>
                        BrowserStack
                    </h4>
                    <p>
                        BrowserStack Open Source License
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="footerSection">
    {% include footer.html %}
</div>

