body {
    padding-top: 60px;
    padding-bottom: 40px;
}

footer {
    text-align: right;
    color: gray;
    font-size: 12px;
}

.sidebar-nav {
    padding: 9px 0;
}

.fb-like {
    max-width: 200px !important;
}

.rss-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 180px;
}

.download .rss-item {
    border-bottom: 1px dotted #E7E7E7;
    margin-bottom: 5px;
    word-wrap: break-word;
    max-width: 145px;
}

.download .rss-item h5 {
    max-width: 150px;
}

.download .rss-item a {
    max-width: 150px;
}

.rss-item h5>a {
    color: #323131;
}

.rss-item .rss-snipet {
    color: #7A7A7A;
    overflow: hidden;
}

.rss-item-extra {
    width: 100% !important;
}

.row-fluid h2 {
    margin-top: 7px;
    margin-bottom: 10px;
}

.navbar-search .search-query{
    width: 70% !important;
    border: 1px solid #D98237 !important;
}

.web-contributor-item {
  clear: both;
  margin-bottom: 5px;
  padding: 2px;
}

.web-contributor-item > h3 {
  margin-bottom: 5px;
}

.web-contributor-item .container{

}

.web-contributor-item .container .image {
  float: left;
  padding: 5px 20px 0px 0;
  width: 64px;
}

.web-contributor-item .container .bio {
  font-style: oblique;
  margin-left: 80px;
  margin-top: 5px;
}

.web-contributor-item  .link{

}

.web-contributor-item .link a:link {
  color: #EA9F0C;
  font-weight: bold;
  text-decoration: none;
}

.web-contributor-item .link a{
  color: #EA9F0C;
  font-weight: bold;
  text-decoration: none;
}

.web-contributor-item .link a:visited {
  color: #EA9F0C;
  font-weight: bold;
  text-decoration: none;
}

.thumbs { margin: 0; padding: 0; overflow: hidden; }
.thumbs li { list-style: none; float: left; margin: 5px; padding: 3px; background: #eee; -moz-box-shadow: 0 0 4px #444; -webkit-box-shadow: 0 0 2px #000; }
.thumbs li a { }
.thumbs li img { display: block; }
.thumbs li a img { border: none;}

.center {
    text-align: center;
    margin: 0 auto;	
}
