<div class="contributors-view">
	<div class="row">
		<div class="panel">
				<h2 class="subheader">
				About Us
			</h2>
			<div class="twelve columns">
				<div class="row">
					<h4 class="subheader">
			    	  	Encuestame it's a <strong>free open source project</strong>, created at 2008 in Nicaragua, now our headquarters it's in Austria. This project it's free of limitations, secondary services and with <strong>Apache License v2.0.</strong>
			    	 </h4>
			    	 <h4 class="subheader">
			    	 	This project it's a tool to make different type of surveys, easy to manage and distribute, with several features to share in social networks, manage content and security.
			    	 </h4>
			    	 <h4 class="subheader">
			    	 	The project it's open to new contributors, ideas and tips.
			    	 </h4>
			    	 <br/>
  		    	    <img src="img/logos/encuestame/logo_small.png"/>
				</div>
		    </div>
		</div>
	</div>


</div>