<div class="contributors-view">
	<div class="row">
		<div class="panel contri-header">
			<h2 class="subheader">
				Who contributes to this project?
			</h2>
			<img src="img/logos/encuestame/logo_medium.png"/>
		</div>
	</div>

	<div class="row">
		<div class="panel">
			<div class="twelve columns">
				<div class="row">
					<h4 class="subheader">
			    			Diana Paola Morales
			    	</h4>
					<div class="three columns">
			    	  	<img src="http://www.gravatar.com/avatar/172ee6b7fe9935425f680f338888299f?s=230" />
  		    	    </div>
  		    	    <div class="nine columns">
  		    	    	<div class="panel">
				    	  	<div class="bio">
				    	  		I'm software engineer Java fan, my favourite framework is Spring, the quality of my code is my best skill and always doing my best. I'm the responsible of all backend of Encuestame.
					    	</div>
					    	<div class="social">
						    	<a class="linkedin-profileinsider-inline"
			                      href="http://at.linkedin.com/in/dianmorales" target="_blank">
			                      <img src="img/social/fc-webicon-linkedin-m.png"/>
			                    </a>
								<a class="linkedin-profileinsider-inline"
			                      href="https://github.com/dianmorales" target="_blank">
			                      <img src="img/social/fc-webicon-github-m.png"/>
			                    </a>
			                    <a class="linkedin-profileinsider-inline"
			                      href="http://www.twitter.com/dianmora" target="_blank">
			                      <img src="img/social/fc-webicon-twitter-m.png"/>
			                    </a>
					    	</div>
				    	</div>
			    	</div>
				</div>
		    </div>
		</div>
	</div>

	<div class="row">
		<div class="panel">
			<div class="twelve columns">
				<div class="row">
					<h4 class="subheader">
			    			Juan Carlos Picado
			    	</h4>
					<div class="three columns">
			    	  	<img src="http://www.gravatar.com/avatar/c676605ff39f9c7a43f5518a8ce54e12?s=230" />
  		    	    </div>
  		    	    <div class="nine columns">
  		    	    	<div class="panel">
				    	  	<div class="bio">
				    	  		I like to define myself as a developer because that's what I like to be, I am responsible for the architecture, infraestructure and user interfaces, the performance is my best skill because always it's possible make the Javascript more fast. Dojo is my favourite framework.
					    	</div>
							<div class="social">
						    	<a class="linkedin-profileinsider-inline"
			                      href="http://at.linkedin.com/in/jotadeveloper" target="_blank">
			                      <img src="img/social/fc-webicon-linkedin-m.png"/>
			                    </a>
								<a class="linkedin-profileinsider-inline"
			                      href="https://github.com/juanpicado" target="_blank">
			                      <img src="img/social/fc-webicon-github-m.png"/>
			                    </a>
			                    <a class="linkedin-profileinsider-inline"
			                      href="http://www.twitter.com/jotadeveloper" target="_blank">
			                      <img src="img/social/fc-webicon-twitter-m.png"/>
			                    </a>
					    	</div>
				    	</div>
			    	</div>
				</div>
		    </div>
		</div>
	</div>
</div>