<div class="download-view">
	<div class="row">
		<div class="panel">
			<h2 class="subheader">
					Ready to enjoy the best open source survey tool ?
					<br/><small>
						Easy to install, to configure, to use.
					</small>
			</h2>
			<p>
				<img src="img/logos/encuestame/logo_medium.png"/>
			</p>
			<p>
				<a class="round button" href="http://sourceforge.net/projects/encuestame/files/latest/download" target="_blank">
					Download Last Release
				</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="four columns">
    		<h4 class="subheader">Download Feed </h4>
    		<ul class="download-feed">

    		</ul>
		  </div>
		  <div class="eight columns">
		    <h4 class="subheader">Last Release Notes </h4>
    		<ul class="release-notes">

    		</ul>
		  </div>
	</div>

</div>