<div class="features-view">
	<div class="row">
		<h2 class="subheader">
				Features
		</h2>
	</div>
	<div class="row">
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/screen3.png'>
						<img src="img/screenshots/screen3.png">
					</a>
				</p>
				<h3>
					TweetPoll
				</h3>
				<p class="ft-description">
					Simple and Fast. It is how you can create and share your micro-surveys using the most extensive network to share, engaging your followers and voting in real time.
				</p>

			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/poll-create.png'>
						<img src="img/screenshots/poll-create.png">
					</a>
				</p>
					<h3>
						Poll
					</h3>
				<p class="ft-description">
					Surveys of a single question with multiple distribution options. Real-time results.
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/poll-create.png'>
						<img src="img/screenshots/poll-create.png">
					</a>
				</p>

				<h3>
					Survey
				</h3>
				<p class="ft-description">
					Create and manage your online surveys easily and efficiently. It uses multiple types of responses. Types of responses can include multimedia (images, videos). Ability to georeference the place of capture / collection of survey data, privacy options and many more options. <span class="secondary label">In development</span>
				</p>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/profile.png'>
						<img src="img/screenshots/profile.png">
					</a>
				</p>

				<h3>
					Public Profile
				</h3>
				<p class="ft-description">
					It is the user's personal page. Channel has RSS / ATOM for distribution. Customize the privacy of the content published, the profile displays the record of his last publications or actions.
				</p>

			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/custom-profile.png'>
						<img src="img/screenshots/custom-profile.png">
					</a>
				</p>

				<h3>
					Customize your Profile
				</h3>
				<p class="ft-description">
					Update your personal data, upload a new profile image or use the Gravatar source.
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/svg.png'>
						<img src="img/screenshots/svg.png">
					</a>
				</p>

				<h3>
					Graphs
				</h3>
				<p class="ft-description">
					Encuestame have differents type of charts to display the survey stats, pie charts, Bar charts, Lines etc...
				</p>

			</div>
		</div>

	</div>

	<div class="row">
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/install.png'>
						<img src="img/screenshots/install.png">
					</a>
				</p>

				<h3>
					Easy 7 steps
				</h3>
				<p class="ft-description">
					Easy and intuitive Wizard. Follow the installation steps where you can customize your configuration database, create demonstrations data in a single 7-step guide.
				</p>

			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/logos/hibernate.png'>
						<img src="img/logos/hibernate.png">
					</a>
				</p>

				<h3>
					Multi-Database compatibility
				</h3>
				<p class="ft-description">
					Encuestame use Hibernate with highly support the most of popular databases, MySQL, PostgesSQL, MSSQL Databases, Oracle and more.
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/mobile.png'>
						<img src="img/screenshots/mobile.png">
					</a>
				</p>

				<h3>
					Mobile Support
				</h3>
				<p class="ft-description">
					Surf on the web mobile it's very easy, Encuestame have a powerful user interface to display survey stats, details and other features on mobile devices.
				</p>

			</div>
		</div>
	</div>


	<div class="row">
		<div class="four columns">
				<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/screen6.png'>
						<img src="img/screenshots/screen6.png">
					</a>
				</p>

				<h3>
					Instant Search
				</h3>
				<p class="ft-description">
					Predicting your search and showing results before you finish typing.
				</p>

			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/oauth_workflow.png'>
						<img src="img/screenshots/oauth_workflow.png">
					</a>
				</p>

				<h3>
					OAuth
				</h3>
				<p class="ft-description">
					Encuestame has OAuth capabilities, use to connect to most modern social networks on versions 1 and 2.
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/filters_search.png'>
						<img src="img/screenshots/filters_search.png">
					</a>
				</p>

				<h3>
					Filters
				</h3>
				<p class="ft-description">
					All managed interfaces has differents ways to filter the data, find easily surveys, filter by social networks, by dates and another type of filtres are available.
				</p>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/social_network_manage_connect.png'>
						<img src="img/screenshots/social_network_manage_connect.png">
					</a>
				</p>

				<h3>
					Connect
				</h3>
				<p class="ft-description">
				  Easy to connect your favorites social networks as Facebook, Twitter, LinkedIn, identi.ca, etc.
				</p>

			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/social_sign_up.png'>
						<img src="img/screenshots/social_sign_up.png">
					</a>
				</p>

				<h3>
					Easy Sign Up
				</h3>
				<p>
					If you have a Facebook account, use the easy sign up to create a new account, only in one step
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/masive.jpg'>
						<img src="img/screenshots/masive.jpg">
					</a>
				</p>

				<h3>
					Masive Distribution
				</h3>
				<p class="ft-description">
					Publish on multiple social networks, select a list of social accounts to make a massive distribution in only one click.
				</p>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/org_folder.png'>
						<img src="img/screenshots/org_folder.png">
					</a>
				</p>

				<h3>
					Quick Manage
				</h3>
				<p class="ft-description">
					Organize your survey it's very easy, save your favorites and group on folders.
				</p>

			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/poll-create.png'>
						<img src="img/screenshots/poll-create.png">
					</a>
				</p>

				<h3>
					Security Manage
				</h3>
				<p class="ft-description">
					Create users, groups, assing permissions it's very easy, organize it's now a fun task.  <span class="secondary label">In development</span>
				</p>
			</div>
		</div>
		<div class="four columns">
			<div class="panel">
				<p>
					<a class='gallery feature-image' href='img/screenshots/rest.png'>
						<img src="img/screenshots/rest.png">
					</a>
				</p>

				<h3>
					REST API
				</h3>
				<p class="ft-description">
					Encuestame RESTful services is based on the interaction with the interface is 90% via REST, these services can be used by third party applications such as mobile applications (Android, IOS) or other applications consuming REST services.
				</p>

			</div>
		</div>

	</div>
</div>