<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Copyright Encuestame Team. &middot;
           <a href="<%= footer.facebook %>" target="_blank">
                Facebook
          </a> &middot;
        <a href="<%= footer.twitter %>" target="_blank">
              Twitter
          </a>&middot;
        <a href="<%= github_repo %>" target="_blank">
              Github
        </a>
      </p>
    <div class="follow-buttons">
      <div style="vertical-align:middle; margin-right:20px">
         <iframe src="http://caolan.github.com/github-buttons/github-btn.html?user=encuestame&amp;repo=encuestame&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
      </div>
      <div style="vertical-align:middle; margin-right:20px">
           <iframe src="http://caolan.github.com/github-buttons/github-btn.html?user=encuestame&amp;repo=encuestame&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
      </div>

            <div style="vertical-align:middle; margin-right:20px">
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="encuestame" data-hashtags="survey,opensource" data-dnt="true">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div style="vertical-align:middle; margin-right:20px">
         <a href="https://twitter.com/encuestame" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @encuestame</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
        </div>
  </footer>