<div class="twelve columns">
  <hr />
  <div class="row">
    <div class="six columns">
      <p>&copy; Copyright Encuestame Team</p>
    </div>
    <div class="six columns">
      <ul class="link-list right">
        <li>
          <a href="<%= footer.facebook %>" target="_blank">
              Facebook
          </a>
        </li>
        <li>
          <a href="<%= footer.twitter %>" target="_blank">
              Twitter
          </a>
        </li>
        <li>
          <a href="<%= footer.ohloh %>" target="_blank">
              Ohloh
          </a>
        </li>
        <li>
          <a href="<%= footer.source %>" target="_blank">
              Source Force
          </a>
        </li>
        <li>
          <a href="<%= github_repo %>" target="_blank">
              Github
          </a>
        </li>
        <li>
          <a href="#logos">
              Logos
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>