.panel {
	background: none;
	border: none;
}

.info .panel > p {
	min-height: 30px;
}

.panel-icons > div i{
	min-width: 35px;
}

.hidden {
	display: none;
}

.panel-icons > div{
	text-align: center;
	float: left;
	font-size: 30px;

}

.center-logo {
	text-align: center;
}

.row {
	margin: 0 auto !important;
}

.buttons-wrapper a:hover{
	text-decoration: none;
}

.features-view img.shadow {
	box-shadow: 0px 2px 5px 2px #A7A7A7;
}

.features-view  .panel {
	padding: 5px;
}
.features-view  p {
	margin-bottom: 10px;
	line-height: 24px;
	color: #79797C;
	font-size: 14px;
	font-weight: normal;
}

.features-view .ft-description {
	color: #919197;
	line-height: 22px;
	font-size: 16px;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	text-align: center;
}

.features-view  h3 {
	color: #333;
	padding-top: 22px;
	margin-bottom: 12px;
	line-height: 26px;
	font-size: 22px;
}

.features-view  h3 {
	margin-bottom: 10px;
	line-height: 38px;
	color: #1C1C20;
	font-size: 21px;
	font-weight: normal;
	text-align: center;
}

.feature-image {
	display: block;
	width: 270px;
	height: 175px;
	border: 5px solid white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #D3D7E5;
	box-shadow: 0 1px 2px #ADB1C8,0 0 0 1px rgba(217, 221, 235, .5),inset 0 0 0 2px rgba(88, 97, 141, .25);
}

.contributors-view p{

}

.contributors-view .contri-header {
	margin: 0;
}

.contributors-view .bio {
	color: #79797C;
	font-size: 18px;
	font-weight: lighter;
}

.contributors-view .social {
	padding: 10px 0;
}

.feature-image img{
	display: block;
	width: 270px;
	height: 165px;
}

#content ul {
	margin: 0;
}

#content li.feed-item  {
	margin: 0;
	list-style: none;
	font-size: 12px;
	margin-bottom: 10px;
}

#content li.feed-item a , .tweet-item  a{
	color : #222;
	font-weight: bold;

}

#content li.feed-item a, #content li.feed-item p, .tweet-item  p, .tweet-item  a{
	max-width: 100%;
	word-break : break-all;
	line-height: 20px;
	font-size: 12px;
	margin: 0;
}

#content li.feed-item .date , .tweet-item  .date{
	color: #DB880E;
	font-weight: bold;
	font-size: 12px;
}

.tweet-item {
	list-style: none;
	padding: 0 0 10px 0;
	overflow: auto;
}

.tweet-item .left {
	float: left;
	padding: 5px;
}

.tweet-item .right {
	width: 75%;
}

/*a:-webkit-any-link {
	color: -webkit-link;
	text-decoration: underline;
	cursor: auto;
}*/


/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxTopLeft{width:14px; height:14px; background:url(images/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(images/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(images/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(images/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(images/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(images/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(images/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(images/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

        #cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}