@import url('bootstrap.css');
@import url('bootstrap-responsive.css');
@import url('font-awesome.css');
@import url('style.css');

.home-carrousel {
	/*position:absolute; top:50%; height:240px; margin-top:-120px; */
	position:absolute; top:50%; height:240px; margin-top: -120px;
}

.twrapper {display:table;}
.tcell {display:table-cell; vertical-align:middle;}

.home-discover {
	background: whitesmoke;
	padding: 40px 0 10px 0;
	background-image: -webkit-radial-gradient(center center,circle contain,rgba(255,255,255,0.8) 100%,whitesmoke 100%);
	background-color: white;
	background-image: -moz-linear-gradient(#eee,white);
	background-image: -o-linear-gradient(#eee,white);
	background-image: -ms-linear-gradient(#eee,white);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#eee),color-stop(1,white));
	background-image: -webkit-linear-gradient(#eee,white);
}


/*footer {
padding: 40px 0;
text-align: center;
margin-top: 40px;
color: #777;
}*/
footer .follow-buttons>div {
	display: inline-block;
	height: 22px;
}

footer .follow-buttons {
	margin-top: 30px;
	height: 40px;
	text-align: center;
	clear: both;
}

.feature-shadow {
	box-shadow : -1px 0px 14px -2px rgb(138, 136, 136);
}

footer .follow-buttons {
	text-align: center;
}
h1, h2, h3 {
	font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,sans-serif;
	color: #111;
}

.features  img {
	max-width:100%;
	height:auto;
}

.slide .image-caption {
	width: 100%;
	/*position: absolute;
	right: 50px;
	top: 100px;*/
}

.slide .image-caption img{
	height : auto;
	max-width : 100%;
	width: 80%;
}

.slide .image-caption img.shadow{
		border-radius: 10px;
		box-shadow: 0px 0px 10px 1px #444;
}

.fea-resume img {
	width: 128px;
	height: 128px;
}

.team img {
	width: 100px;
	height: 100px;
}

.team .social {
	margin-top: 10px;
}

.team .social img {
	width: 30px;
	height: 30px;
}

@media (max-width: 979px) {

.slide .image-caption {
	position: absolute;
	right: 50px;
	top: 100px;
}

.slide .image-caption img{
	width: 50%;
}

}

@media="screen" {
	.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}


@media (max-width: 767px) {

	.slide .image-caption {
		display: none;
	}

	.home-discover{
		background: white;
	}
}