/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* line 6, ../../sass/style.scss */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 17, ../../sass/style.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

/* Remove border and change up box shadow for more contrast */
/* line 31, ../../sass/style.scss */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

/* Downsize the brand/project name a bit */
/* line 39, ../../sass/style.scss */
.navbar .brand {
  padding: 14px 20px 16px;
  /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

/* Navbar links: increase padding for taller navbar */
/* line 47, ../../sass/style.scss */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
/* line 52, ../../sass/style.scss */
.navbar .btn-navbar {
  margin-top: 10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* line 62, ../../sass/style.scss */
.carousel {
  margin-bottom: 60px;
}

/* line 66, ../../sass/style.scss */
.carousel .container {
  position: relative;
  z-index: 9;
}

/* line 71, ../../sass/style.scss */
.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

/* line 81, ../../sass/style.scss */
.carousel .item {
  height: 500px;
}

/*.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}*/
/* line 92, ../../sass/style.scss */
.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 100px;
}

/* line 100, ../../sass/style.scss */
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* line 106, ../../sass/style.scss */
.carousel-caption .btn {
  margin-top: 10px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* line 116, ../../sass/style.scss */
.marketing .span4 {
  text-align: center;
}

/* line 119, ../../sass/style.scss */
.marketing h2 {
  font-weight: normal;
}

/* line 122, ../../sass/style.scss */
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* Featurettes
------------------------- */
/* line 131, ../../sass/style.scss */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}

/* line 134, ../../sass/style.scss */
.featurette {
  padding-top: 120px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
}

/* line 138, ../../sass/style.scss */
.featurette-image {
  margin-top: -120px;
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
/* line 143, ../../sass/style.scss */
.featurette-image.pull-left {
  margin-right: 40px;
}

/* line 146, ../../sass/style.scss */
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
/* line 151, ../../sass/style.scss */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 979px) {
  /* line 165, ../../sass/style.scss */
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }

  /* line 169, ../../sass/style.scss */
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  /* line 174, ../../sass/style.scss */
  .carousel .item {
    height: 500px;
  }

  /*.carousel img {
    width: auto;
    height: 500px;
  }*/
  /* line 182, ../../sass/style.scss */
  .featurette {
    height: auto;
    padding: 0;
  }

  /* line 187, ../../sass/style.scss */
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}
@media (max-width: 767px) {
  /* line 198, ../../sass/style.scss */
  .navbar-inner {
    margin: -20px;
  }

  /* line 202, ../../sass/style.scss */
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }

  /* line 209, ../../sass/style.scss */
  .carousel .item {
    height: 300px;
  }

  /*.carousel img {
    height: 300px;
  }*/
  /* line 215, ../../sass/style.scss */
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }

  /* line 220, ../../sass/style.scss */
  .carousel-caption h1 {
    font-size: 30px;
  }

  /* line 224, ../../sass/style.scss */
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 16px;
  }

  /* line 228, ../../sass/style.scss */
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  /* line 232, ../../sass/style.scss */
  .featurette-heading {
    font-size: 30px;
  }

  /* line 235, ../../sass/style.scss */
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
}
/* line 242, ../../sass/style.scss */
.home-carrousel {
  position: absolute;
  top: 50%;
  height: 240px;
  margin-top: -120px;
}

/* line 246, ../../sass/style.scss */
.home-discover {
  background: whitesmoke;
  padding: 40px 0 10px 0;
  background-image: -webkit-radial-gradient(center center, circle contain, rgba(255, 255, 255, 0.8) 100%, whitesmoke 100%);
  background-color: white;
  background-image: -moz-linear-gradient(#eeeeee, white);
  background-image: -o-linear-gradient(#eeeeee, white);
  background-image: -ms-linear-gradient(#eeeeee, white);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, white));
  background-image: -webkit-linear-gradient(#eeeeee, white);
}

/* line 259, ../../sass/style.scss */
.version-heading {
  margin-top: 10px;
  color: white;
}

/* line 264, ../../sass/style.scss */
footer .follow-buttons > div {
  display: inline-block;
  height: 22px;
}

/* line 269, ../../sass/style.scss */
footer .follow-buttons {
  margin-top: 30px;
  height: 40px;
  text-align: center;
  clear: both;
}

/* line 276, ../../sass/style.scss */
.feature-shadow {
  box-shadow: -1px 0px 14px -2px #8a8888;
}

/* line 280, ../../sass/style.scss */
footer .follow-buttons {
  text-align: center;
}

/* line 283, ../../sass/style.scss */
h1, h2, h3 {
  font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,sans-serif;
  color: #111;
}

/* line 288, ../../sass/style.scss */
.features img {
  max-width: 100%;
  height: auto;
}

/* line 293, ../../sass/style.scss */
.slide .image-caption {
  /*width: 100%;*/
}

/* line 297, ../../sass/style.scss */
.slide .image-caption img {
  height: auto;
  max-width: 100%;
  width: 80%;
}

/* line 303, ../../sass/style.scss */
.slide .image-caption img.shadow {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #444;
}

/* line 308, ../../sass/style.scss */
.fea-resume img {
  width: 128px;
  height: 128px;
}

/* line 313, ../../sass/style.scss */
.enme-logo-m {
  margin-top: 50px;
}

/* line 317, ../../sass/style.scss */
.team img {
  width: 100px;
  height: 100px;
}

/* line 322, ../../sass/style.scss */
.team .social {
  margin-top: 10px;
}

/* line 326, ../../sass/style.scss */
.team .social img {
  width: 30px;
  height: 30px;
}

/** hide images **/
@media (max-width: 979px) {
  /* line 335, ../../sass/style.scss */
  .slide .image-caption {
    position: absolute;
    right: 0px;
    top: 5px;
  }

  /* line 341, ../../sass/style.scss */
  .slide .image-caption img {
    width: 100%;
  }

  /* line 345, ../../sass/style.scss */
  .home-carrousel .span6 {
    position: relative;
  }

  /* line 349, ../../sass/style.scss */
  .carousel-caption {
    margin-top: 0;
  }

  /* line 353, ../../sass/style.scss */
  .enme-logo-m {
    margin-top: 0px;
  }
}
/** hide images **/
@media (max-width: 767px) {
  /* line 362, ../../sass/style.scss */
  .home-discover {
    background: white;
  }

  /* line 366, ../../sass/style.scss */
  .carousel-caption h1 {
    font-size: 28px;
  }

  /* line 370, ../../sass/style.scss */
  .carousel-caption .lead {
    font-size: 14px;
  }

  /* line 374, ../../sass/style.scss */
  .slide .image-caption img {
    display: none;
  }
}
/** hide images **/
@media (max-width: 450px) {
  /* line 383, ../../sass/style.scss */
  .home-discover {
    background: white;
  }

  /* line 387, ../../sass/style.scss */
  .version-heading {
    display: none;
  }

  /* line 391, ../../sass/style.scss */
  .carousel-caption h1 {
    font-size: 28px;
  }

  /* line 395, ../../sass/style.scss */
  .carousel-caption .lead {
    font-size: 13px;
  }

  /* line 399, ../../sass/style.scss */
  .home-carrousel {
    top: 40%;
  }
}
