<div class="docs-module">
    <h4 class="docs-module-title">
        {{site.project_name}} WAR
    </h4>
    <p>
        {% t pages.aside_title_1 %}
    </p>
    <a href="{{site.download.dist}}" class="btn btn-block btn-primary" target="_blank">
        {% t global.download %} {{site.project_name}}
    </a>
    <small>
        {% t global.currently %} {{site.current_version}}
    </small>
</div>

<div class="docs-module">
    <h4 class="docs-module-title">
        {% t global.source_code %}
    </h4>
    <p>
        {% t pages.aside_title_2 %}
    </p>
    <a href="{{site.download.source}}" class="btn btn-block btn-primary" target="_blank">
        {% t global.download %} {% t global.source_code %}
    </a>
</div>