<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon"  type="image/png"  href="favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>encuestame open source social survey</title>
	<meta name="description" content="encuestame is a open source web appication developed in java an javascript to create online surveys. With an advanced system of administration of projects for businesses or individuals, control of pollsters, capturing online, statistics, reports and graphs." />
	<meta name="keywords" content="survey,open source, free, java, dojo toolkit" />
	<meta name="author" content="Juan Picado, Paola Morales" />
	<meta name="copyright" content="encuestame" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<script data-main="" src="js/libs/modernizr.js"></script>
	<link rel="stylesheet" href="css/enme.css"></head>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="../assets/js/html5shiv.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png"></head>

<body>

	<!-- NAVBAR
    ================================================== -->
	<div class="navbar-wrapper">
		<!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
		<div class="container">

			<div class="navbar navbar-inverse">
				<div class="navbar-inner">
					<!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="brand" href="#">Project name</a>
				-->
				<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active">
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#features">Features</a>
						</li>
						<li>
							<a href="#download">Download</a>
						</li>
						<li>
							<a href="#contributors">Contributors</a>
						</li>
						<li>
							<a href="#about">About</a>
						</li>
						<!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								More <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider"></li>
								<li class="nav-header">Nav header</li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!-- /.navbar-inner -->
		</div>
		<!-- /.navbar -->

	</div>
	<!-- /.container -->
</div>
<!-- /.navbar-wrapper -->

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" style="background: #E7A441;">
	<div class="carousel-inner" style="box-shadow: 0px 0px 11px 0px rgb(94, 94, 94);">
		<div class="item active">

			<div class="container">
				<div class="jumbotron carousel-caption">
					<h1>Social Survey CMS</h1>
					<p class="lead">
						A powerful control management system, organize your own unlimited surveys with unlimited options, share them, multiple users and roles, multilanguage support, integration with multiple social network.
					</p>
					<a class="btn btn-large btn-success" href="#"> <i class="icon-download icon-2x"></i>
						<span style="margin-left:5px;">Download 1.146-FINAL</span>
					</a>
				</div>
				<div class="image-caption" style="position:absolute; top: 200px; right: 45px;">
					<img src="img/logos/encuestame/logo_high.png" width="500" height="118" style="height:118px;min-width:500px;position:relative;"></div>
			</div>
		</div>
		<div class="item">

			<div class="container">
				<div class="jumbotron carousel-caption">
					<h1>Open Source Project</h1>
					<p class="lead">
						Is free, open source, and always will be, Licensed as Apache License 2.0, hosted on GitHub, Source Force and Google Code, Encuestame is based on Java and Dojo Toolkit.
					</p>
					<a class="btn btn-large btn-success" href="#"> <i class="icon-github icon-2x"></i>
						<span style="margin-left:5px;">Get Source</span>
					</a>
				</div>
				<div class="image-caption" style="position:absolute; top: 100px; right: 45px;">
					<!-- <img src="http://cdn1.iconfinder.com/data/icons/metro-uinvert-dock/256/Github.png" width="300" height="318" style="height:318px;min-width:200px;position:relative;">
					-->
					<img src="img/github-enme.png" width="540" height="284" style="height: 290px;min-width:540px;position:relative;border-radius: 5px;box-shadow: 2px 3px 16px 2px rgb(129, 129, 129);"/>
				</div>
			</div>
		</div>
		<div class="item">

			<div class="container">
				<div class="jumbotron carousel-caption">
					<h1>Try the Demo</h1>
					<p class="lead">
						If you'd like to see a working survey, you could create your own survey, share it your beautiful creation and try the complete list of features.
					</p>
					<a class="btn btn-large btn-success" href="#">
						<i class="icon-share-alt icon-2x"></i>
						<span style="margin-left:5px;">Go</span>
					</a>
					<div class="image-caption" style="position:absolute; top: 100px; right: 45px;">
						<img src="http://encuestame.org/img/screenshots/screen3.png" width="500" height="318" style="height: 290px;min-width:540px;position:relative;border-radius: 5px;box-shadow: 2px 3px 16px 2px rgb(129, 129, 129);"></div>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="span4">
			<img class="img-circle" src="http://cdn1.iconfinder.com/data/icons/free-3d-social-icons/png/128x128/Social%20network.png">
			<h2>Make your Survey Social</h2>
			<p>
				Distribute your surveys easily with Encuestame. Connect your favorite social networks and massively distributed.
			</p>
			<p>
				<a class="btn" href="#">View details &raquo;</a>
			</p>
		</div>
		<!-- /.span4 -->
		<div class="span4">
			<img class="img-circle" src="http://cdn1.iconfinder.com/data/icons/Mobile-Icons/128/08_settings.png">
			<h2>Quick Creation</h2>
			<p>
				Create a survey with Encuestame it's very easy and intuitive, rich user interfaces, a lot of features ready to use.
			</p>
			<p>
				<a class="btn" href="#">View details &raquo;</a>
			</p>
		</div>
		<!-- /.span4 -->
		<div class="span4">
			<img class="img-circle" width="128" height="128" src="http://cdn1.iconfinder.com/data/icons/iPhone_4G-png/512/iphone%204G%20headphones%20shadow.png">
			<h2>Mobile</h2>
			<p>
				Enjoy it in the mobile version; start, manage, vote and share your surveys anytime, anywhere from your phone or tablet.
			</p>
			<p>
				<a class="btn" href="#">View details &raquo;</a>
			</p>
		</div>
		<!-- /.span4 -->
	</div>
	<!-- /.row -->

	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="featurette">
		<img class="featurette-image pull-right" src="img/mobile_iphone_enne.png">
		<h2 class="featurette-heading">
			Mobile is the future,
			<span class="muted">Encuestame is mobile.</span>
		</h2>
		<p class="lead">
			Support the most of phones and tablets, encuestame offers you mobility, vote in your mobile, review all your created surveys, share your stadistics, comment a popular question or review your profile.
		</p>
	</div>

	<hr class="featurette-divider">

	<div class="featurette">
		<img class="featurette-image pull-right" src="img/chart-enme.png" style="border-radius: 5px;box-shadow: 2px 3px 16px 2px rgb(129, 129, 129);border:1px solid gray;">
		<h2 class="featurette-heading">
			Create a survey on few steps.
			<span class="muted">And share it.</span>
		</h2>
		<p class="lead">
			Encuestame support multiple Social Networks like Twitter, Facebook, Identi.ca, LinkedIn and more in the future, you can manage several social network accounts and publish on all of them in one single step.
		</p>
	</div>

	<hr class="featurette-divider">

	<div class="featurette">
		<img class="featurette-image pull-right" src="img/quick-creation.png" style="border-radius: 5px;box-shadow: 2px 3px 16px 2px rgb(129, 129, 129);border:1px solid gray;">
		<h2 class="featurette-heading">
			Fast and Furious
			<span class="muted">Survey</span>
		</h2>
		<p class="lead">
			We created an usable and quick user interface to create different type of surveys, drag an drop, suggestion, inline edit and another very cool components to create very fast your surveys.
		</p>
	</div>

	<div class="featurette-divider"></div>
</div>
<!-- /END THE FEATURETTES -->
<div class="home-discover">
	<div>
		<section class="clearfix">
			<div class="container download">
				<h1 class="featurette-heading">Download</h1>
				<!-- 	<div class="list-tabs" style="text-align:center; font-size:18px">
				<a href="/discover/staff-picks" class="active">Source Force</a>
				|
				<a href="/discover/popular">Google Code</a>
				|
				<a href="/discover/recent">Mega</a>
			</div>
			-->
			<p class="lead">
				The WAR file is ready to run, it need more information about installation, please
				<a href="/wiki/display/DOC/Installing+Encuestame" target="_blank">read this.</a>
			</p>
			<div class="container">
				<section>
					<div class="row features">

						<div class="span6">
							<i class="bookmarking"></i>
							<h3>
								<img width="140" height="40" src="http://cdn.www.liferay.com/image/image_gallery?uuid=fb25958b-816a-4a6c-9f94-ad84094aebe7&groupId=14&t=1340655017613"/>
							</h3>
							<a href="/signup/" class="btn btn-success btn-large" style="box-shadow:none;">Go to Download</a>

						</div>

						<div class="span6">
							<i class="search"></i>
							<h3></h3>
						</div>

					</div>
				</section>
			</div>

		</section>
	</div>
</div>
</div>

<div class="container">
<hr class="featurette-divider">
<h1 class="featurette-heading">The Team</h1>
<section style="margin-top:40px;">
	<div class="row features">

		<div class="span6">
			<img src="http://www.gravatar.com/avatar/c676605ff39f9c7a43f5518a8ce54e12?s=230" width="100" height="100" style="border-radius: 100px;box-shadow: 0px 1px 11px 2px rgb(105, 105, 105); text-aling:center;"/>
			<h2>Juan Carlos Picado</h2>
			<blockquote>
				<p>
					I like to define myself as a Front End Engineer because I love it. Responsible of the architecture, infraestructure and user interfaces, the performance is my best skill because always it's possible make the Javascript more fast and small. Dojo is my favourite framework.
				</p>
			</blockquote>
			<div class="social">
				<a class="linkedin-profileinsider-inline"
			                      href="http://at.linkedin.com/in/jotadeveloper" target="_blank">
					<img src="img/social/fc-webicon-linkedin-m.png"/>
				</a>
				<a class="linkedin-profileinsider-inline"
			                      href="https://github.com/juanpicado" target="_blank">
					<img src="img/social/fc-webicon-github-m.png"/>
				</a>
				<a class="linkedin-profileinsider-inline"
			                      href="http://www.twitter.com/jotadeveloper" target="_blank">
					<img src="img/social/fc-webicon-twitter-m.png"/>
				</a>
				<a class="linkedin-profileinsider-inline"
			                      href="http://careers.stackoverflow.com/jotadeveloper" target="_blank">
					<img src="img/social/fc-webicon-stack.png"/>
				</a>
			</div>
		</div>
		<div class="span6">
			<img src="http://www.gravatar.com/avatar/172ee6b7fe9935425f680f338888299f?s=230" width="100" height="100" style="border-radius: 100px;box-shadow: 0px 1px 11px 2px rgb(105, 105, 105); text-aling:center;"/>
			<h2>Diana Paola Morales</h2>
			<blockquote>
				<p>
					I'm software engineer Java fan, my favourite framework is Spring, the quality of my code is my best skill and always doing my best. I'm the responsible of all backend of Encuestame.
				</p>
			</blockquote>
			<div class="social">
				<a class="linkedin-profileinsider-inline"
			                      href="http://at.linkedin.com/in/dianmorales" target="_blank">
					<img src="img/social/fc-webicon-linkedin-m.png"/>
				</a>
				<a class="linkedin-profileinsider-inline"
			                      href="https://github.com/dianmorales" target="_blank">
					<img src="img/social/fc-webicon-github-m.png"/>
				</a>
				<a class="linkedin-profileinsider-inline"
			                      href="http://www.twitter.com/dianmora" target="_blank">
					<img src="img/social/fc-webicon-twitter-m.png"/>
				</a>
			</div>
		</div>

	</div>
	<div style="margin-top:40px;">
		<p class="lead">
			Feel free to contribute of this project, if you want to be a committer,
			<a href="/wiki/display/DEVELOPMENT/Commiters+Guidelines">follow this guide</a>
			and check it the complete list of contributors
			<a href="https://github.com/encuestame/encuestame/graphs/contributors" target="_blank">here.</a>
		</p>
	</div>
</section>
</div>

<div class="container marketing">
<hr class="featurette-divider">
<h1 class="featurette-heading">About Us</h1>
<section style="margin-top:40px;">
	<h3>History</h3>
	<blockquote>
		<p class="lead">
			Encuestame it's a free open source project created in <strong> 2008 in Nicaragua and Spain </strong> , now our headquarters is in Austria. The project start as PHP project, migrated later to Java, we decided create RESTFul API to integrate the new User Interface with three party applications. On 2011 we recieved a <a href="http://www.atlassian.com/software/views/open-source-license-request" target="_blank"> Atlassian Open Source Licenses</a>, this made more mature to the project.
		</p>
	</blockquote>
	<h3>RoadMap</h3>
		<p class="lead">
			This project is alive, we are working every day to offer to you a more stable product, all related with the Roadmap is available in this <a href="/wiki//display/Br/Home" target="_blank"> page</a>.
		</p>
	<p>
		<a href='http://www.pledgie.com/campaigns/19050'><img alt='Click here to lend your support to: encuestame open source survey tool and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/19050.png?skin_name=chrome' border='0' /></a>
		<div>
			<small>
				Encuestame doesn't have incomes and is non profit, it's a free project and only accept donations to maintenance the infrastructure. The best donation for us is your own code.
			</small>
		</div>
	</p>
</section>
</div>

<!-- /.container -->

<div class="container footer">
<hr class="featurette-divider">
<!-- FOOTER -->
<footer>
	<p class="pull-right">
		<a href="#">Back to top</a>
	</p>
	<p>
		&copy; 2013 Copyright Encuestame Team. &middot;
		<a href="<%= footer.facebook %>
			" target="_blank">
                Facebook
		</a>
		&middot;
		<a href="<%= footer.twitter %>
			" target="_blank">
              Twitter
		</a>
		&middot;
		<a href="<%= github_repo %>
			" target="_blank">
              Github
		</a>
	</p>
	<div class="follow-buttons">
		<div style="vertical-align:middle; margin-right:20px">
			<iframe src="http://caolan.github.com/github-buttons/github-btn.html?user=encuestame&amp;repo=encuestame&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
		</div>
		<div style="vertical-align:middle; margin-right:20px">
			<iframe src="http://caolan.github.com/github-buttons/github-btn.html?user=encuestame&amp;repo=encuestame&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
		</div>

		<div style="vertical-align:middle; margin-right:20px">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="encuestame" data-hashtags="survey,opensource" data-dnt="true">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div style="vertical-align:middle; margin-right:20px">
			<a href="https://twitter.com/encuestame" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @encuestame</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</footer>

</div>

<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script></script>

<script data-main="" src="js/libs/require.js"></script>
<script data-main="" src="js/app/config/enme.js"></script>
<!-- LIVE RELOAD -->
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<!-- ANALYTICS -->
<script type="text/javascript">

	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-2527438-15']);
	    _gaq.push(['_setDomainName', 'encuestame.org']);
	    _gaq.push(['_trackPageview']);

	    (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();

	  </script>
</body>
</html>